# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.pyc

# Django
*.log
local_settings.py
db.sqlite3
media/

# Environment variables — NEVER upload this
.env
*.env

# Virtual environment
venv/
env/
.venv/

# VS Code
.vscode/

# Windows
Thumbs.db
desktop.ini
