asgiref==3.9.1
Django==6.0.4
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.27.2
gunicorn==21.2.0
Pillow>=10.0.0
psycopg2-binary>=2.9.0
python-decouple==3.8
python-docx==1.1.2
reportlab==4.2.2
pdfplumber==0.11.4
openpyxl==3.1.5
python-pptx==1.0.2
whitenoise==6.9.0
inflection==0.5.1
uritemplate==4.1.1
PyYAML==6.0.2
sqlparse==0.5.3
packaging==24.2
